{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Medigo Red, free responsive template</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/misc.css' %}">
	<link rel="stylesheet" href="{% static 'css/red-scheme.css' %}">
	
	<!-- JavaScripts -->
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>

	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

</head>
<body>
	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="index.html">Home</a></li>
            
            <li><a href="message">Help me</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html">
							<img src="{% static  'img/123.png' %}" style="max-height: 50px" alt="Medigo by templatemo"></a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li class="active"><a href="index.html">Home</a></li>
					            
					            <li><a href="message">Help me</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->
	 <!-- /#blogPosts -->
	 <div class="container-fluid" style="margin-top: 120px;">
	 	<div class="row">
	 		<div class="col-sm-3">
	 			<img src="{% static 'img/dis.gif' %}"  style="max-height: 250px;" style="position: fixed;">
	 			<center><h3 style="position: relative;"><b>Diaster survivors</b></h3></center>
	 			

	 		</div>
	 		<div class="col-sm-9">
	 			<center><h1>
	 				Diaster survivors
	 			</h1></center>
	 			<br>
	 			<p>
	 				Taking every day one-at-a-time is essential in disaster’s wake. Each day is a new opportunity to FILL-UP.Be proud of yourself.
One should not ignore their mental health.
	 			</p>
	 			<div class="jumbotron">
	 				<h1>HOW TO TAKE CARE OF YOURSELF</h1>
	 				<div class="row">
	 					<div class="col-sm-4">
	 						<div class="card" style="border:5px solid;background-color: white;padding: 5px;margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">Talk about it</h5>
    
    <p class="card-text">Connect:<br> maintain or re-establish communication with family, peers, and counselors in order to talk about your experiences—take any chance to “tell your story” and to be a listener to others as they tell theirs, so that you and they can release the stress a little bit at a time in disaster’s wake.
</p>
    
  </div>
</div>
	 					</div>
	 					<div class="col-sm-4">
	 						<div class="card" style="border:5px solid;background-color: white;padding: 5px;margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">FILL-UP:</h5>
   
    <p class="card-text">Focus Inwardly on what’s most important to you and your family today;  Look and Listen to learn what you and your significant others are experiencing, so you’ll remember what is important and let go of what’s not;  Understand Personally what these experiences mean to you as a part of your life, so that you will feel able to go on with your life and even grow personally.  </p>
    
  </div>
</div>
	 					</div>
	 				
	 				
	 					<div class="col-sm-4">
	 						<div class="card" style="border:5px solid;background-color: white;padding: 5px;margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">Sleep Properly:</h5>
    
    <p class="card-text">Try to get enough sleep. Some people might experience difficulty sleeping after a disaster.<br> If you have trouble falling asleep, try limiting your use of electronics in bed and avoid drinking caffeine or alcohol an hour before.</p>
   
    
  </div>
</div>
	 					</div>
	 					
	 				
</div>
	 			</div>

	 			<h1>RESOURCES</h1>
	 			<div class="jumbotron">
	 				<iframe width="420" height="345" src="https://www.youtube.com/embed/vqvFrBZS00c">
</iframe>
<iframe width="420" height="345" src="https://www.youtube.com/embed/VFX2Nqwwm44">
</iframe>

	 			</div>
	 		</div>
	 	</div>
	 </div>
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="blog.html">Blog Posts</a></li>
							<li><a href="archives.html">Shortcodes</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2084 Company Name 
                    | Design: templatemo</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="js/min/plugins.min.js"></script>
	<script src="js/min/medigo-custom.min.js"></script>

</body>
</html>