{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Medigo Red, free responsive template</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/misc.css' %}">
	<link rel="stylesheet" href="{% static 'css/red-scheme.css' %}">
	
	<!-- JavaScripts -->
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>

	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

</head>
<body>
	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="index.html">Home</a></li>
            
            <li><a href="message">help me</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html">
							<img src="{ % static 'img/123.png' %}" alt="Medigo by templatemo" style="max-height: 50px;">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li class="active"><a href="index.html">Home</a></li>
					            
					            <li><a href="message">Help me</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->
	 <!-- /#blogPosts -->
	 <div class="container">
	 	<div class="jumbotron" style="margin-top: 100px;">
	 		<h3><h1>Suicide deaths in India increasing at alarming rate</h1>  
Suicide rates in India are climbing faster than in the rest of the world with Indian women having some of the highest rates on the planet. India alone accounts for approximately 30 percent of the world’s suicide deaths. In 2013, suicide claimed the lives of more than a quarter of a million Indians. That’s five times greater than all global deaths due to war and natural disasters combined.
The Government of India classifies a death as suicide if it meets the following three criteria:[8] 
it is an unnatural death,
the intent to die originated within the person,
there is a reason for the person to end his or her life. The reason may have been specified in a suicide note or unspecified.
If one of these criterion is not met, the death may be classified as death because of illness, murder or in another statistical. </h3>
	<div class="row">
		<div class="col-sm-6">
			<b><h2>causes</h2></b>
			<p>Bankruptcy or indebtedness </p>
			<p>Marriage Related Issues (total)</p>
			<p>(including) Non Settlement of Marriage </p>
			<p>(including) Dowry Related Issues </p>
			<p>(including) Extra Marital affairs </p>
			<p>(including) Divorce </p>
			<p>(including) Others </p>
		</div>
		<div class="col-sm-6">
			<b><h2>number of people</h2></b>
			<p>2,308</p>
			<p>6773</p>
			<p>1,096</p>
			<p>2261</p>
			<p>476</p>
			<p>333</p>
			<p>2607</p>
		</div>
		</div>
		<h1>Dynamics</h1><br>

Domestic violence<br>

Further information: Domestic violence in India
Domestic violence is a major risk factor for suicide in a case study performed in Bangalore.[11][12] However, as a fraction of total suicides, violence against women – such as domestic violence, rape, incest and dowry – accounted for less than 4% of total suicides. 

Suicide motivated by politics<br>

Suicides motivated by ideology doubled between 2006 and 2008. 
Suicide motivated by mental illness
The Indian government has been criticized by the media for its mental health care system, which is linked to the high suicide rate.

Farmer's suicide in India<br>

Main article: Farmers' suicides in India
India's economy vastly depends on agriculture with around 60% of its people directly or indirectly depend upon it. Different reasons like droughts, low yield prices, exploitation by middlemen and inability to pay loans lead Indian farmers to commit suicide. 
</div>
</div>

	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="blog.html">Blog Posts</a></li>
							<li><a href="archives.html">Shortcodes</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2084 Company Name 
                    | Design: templatemo</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="js/min/plugins.min.js"></script>
	<script src="js/min/medigo-custom.min.js"></script>

</body>
</html>