{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Medigo Red, free responsive template</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/misc.css' %}">
	<link rel="stylesheet" href="{% static 'css/red-scheme.css' %}">
	
	<!-- JavaScripts -->
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>

	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

</head>
<body>
	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="message">Help me</a></li>
             <li><a href="login">Login</a></li>
              <li><a href="signup">Sign Up</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html">
							<img src="{% static 'img/123.png' %}" alt="Medigo by templatemo" style="max-height: 50px;">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li class="active"><a href="index.html">Home</a></li>
					            
					            <li><a href="message">Help me</a></li>
					            <li><a href="login">Login for counselor</a></li>
              <li><a href="signup">Signup for counselor</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->
	<div class="container-fluid">
<img src="{% static 'img/home_page.jpg' %}" class="img-fluid" style="width: 100%">
</div>
<hr>
<div class="jumbotron" >
	<div class="row">
		<div class="col-sm-6">
			<h3 style="color: black;opacity: 1;">
					<h1 style="color:red;text-decoration: underline;">AASRA</h1> <br> We can all help prevent suicide. The lifeline by aasra provides 24/7 help and support for people in distress prevention and crisis resources for you or your loved ones, and best practices for professionals.
					<h3 style="border-width: 10px;border: 3px solid;width: 50%;padding: 20px;border-color: red;color: blue;text-align: center;"><i class="fa fa-phone-square" aria-hidden="true"></i>   <b> 91-22-27546669</b></h3>
			</h3>
		</div>
		<div class="col-sm-6" style="text-align: center;">
			<img src="{% static 'img/6.jpg' %}" style="height: 300px;padding-top: 20px;border:2px solid black;">
		</div>
	</div>
	</div>
	 <!-- /.cta -->
	 <hr>
	<h1 style="text-align: center;font-style: italic;font-weight:400;line-height: 1.5">Anyone could be struggling with suicide. <br>Find more specific resources below.</h1>
	<section class="light-content services">
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">
								<a href="youth"><button type="button" class="btn btn-danger button123" style="">YOUTH</button></a>
							</h3>
							<p></p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">
							<a href="gay">	<button type="button" class="btn btn-danger button123">LGBTQ</button></a>
							</h3>
							<p></p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">
							<a href="diaster">	<button type="button" class="btn btn-danger button123">DISASTER <BR> SURVIVORS</button></a>
							</h3>
							<p></p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

			</div>

			<div class="row">
				
				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							
					
				<!-- /.col-md-4 -->

				 <!-- /.col-md-4 -->

			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.services -->

	<section class="dark-content portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">You Are Awesome</h2>
						<p class="section-desc" style="font-size:25px;">Everything is <Span style="color: red;">OK</Span> in the <span style="color: red;">END</span>. If it's not <Span style="color: red;">OK</Span>, then it's not the <span style="color: red;">END</span>.</p>
					</div> <!-- /.section-header -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
		
		<div id="portfolio-carousel" class="portfolio-carousel portfolio-holder">
			 <!-- /.item -->
			<!-- /.item -->
			<!-- /.item -->
			 <!-- /.item -->
			 <!-- /.item -->
			 <!-- /.item -->
			 <div class="card onhoverimg" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'img/1.jpg'%}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
</div>
<div class="card onhoverimg" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'img/2.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
</div>
<div class="card onhoverimg" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'img/3.jpg' %}" alt="Card image cap" style="height: 300px;">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
</div>
<div class="card onhoverimg" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'img/4.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
</div>
<div class="card onhoverimg" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'img/5.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
			
							</div>
							
						</div>
					</div>
					
				</div>
			</div> <!-- /.item -->
		</div> <!-- /#owl-demo -->
	</section> <!-- /.portfolio-holder -->

	 <!-- /.testimonials-widget -->
<div class="container" style="margin-top: 50px;">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<center><div class="col-sm-4">
	 <a href="fact"><div class="card" style="width: 28rem;border:2px solid black;background-color: #00695c;height: 15rem;color: white;">
  <div class="card-body">
    <h5 class="card-title"><img src="{% static 'img/download.jpg' %}" style="max-height: 80px;" class="img-circle"></h5>
    <p class="card-text" style="color: white;font-size: 30px;">Suicide Facts</p>
    
  </div>
</div>

<div class="card text-center" style="width: 28rem;border:2px solid black;background-color: #26a69a;color: white;padding: 30px;font-size: 25px;">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">SAVE is committed to providing you with the most recent information and the facts in the field.</p>
    
  </div>
</div>
</div></a>

<div class="col-sm-4">
	 <a href="faq.html"><div class="card" style="width: 28rem;border:2px solid black;background-color: #00695c;height: 15rem;color: white;">
  <div class="card-body">
    <h5 class="card-title"><img src="{% static 'img/question.png' %}" style="max-height: 80px;" class="img-circle"></h5>
    <p class="card-text" style="color: white;font-size: 30px;">Suicide FAQs</p>
    
  </div>
</div>

<div class="card text-center" style="width: 28rem;border:2px solid black;background-color: #26a69a;color: white;padding: 30px;font-size: 25px; ">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Find answers to the most frequently asked questions about suicide and suicide prevention</p>
    
  </div>
</div></a>
</div>
</div></center>
<div class="col-sm-2">
		</div>
</div>

	<div class="container" style="margin-left: 50;margin-top: 100px;">
		<div class="jumbotron">
		<h1>FEEDBACK</h1>
		{% if not display %}
	{% if not created %}
<p>WElCOME</p>
<p>PLEASE FILL THE GIVE FORM FOR FEEDBACK</p>
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">POST</button>
</form>

{% else %}
{% for post in Posts %}
<div class="row">
	<div class="card">
	
<br>{{post}}<br>
{{post.title}}<br>
{{post.text}}<br>
</div>
</div>
</div>
{% endfor %}
{% endif %}
{% endif %}
{% if display %}
{% for post in Posts %}
<br>{{post}}<br>
{{post.title}}<br>
{{post.text}}<br>
{% endfor %}
<a href='post/new'>Create a new post</a>
{% endif %}
	</div>
	
		<footer class="site-footer">
		
					<p class="copyright-text">Copyright &copy; 2018 Company Name 
                    | suicide prevention</p>
				<!-- /.container -->
	</footer> <!-- /.site-footer -->


	<!-- Scripts -->
	<script src="{% static 'js/min/plugins.min.js' %}"></script>
	<script src="{% static 'js/min/medigo-custom.min.js' %}"></script>

</body>
</html>