
{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Medigo Red, free responsive template</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/misc.css' %}">
	<link rel="stylesheet" href="{% static 'css/red-scheme.css' %}">
	
	<!-- JavaScripts -->
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>

	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

</head>
<body>
	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="index.html">Home</a></li>
            
            <li><a href="message">Help me</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html">
							<img src="{% static  'img/123.png' %}" style="max-height: 50px" alt="Medigo by templatemo">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li class="active"><a href="index.html">Home</a></li>
					            
					            <li><a href="message">Help me</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->
	 <!-- /#blogPosts -->
	 <div class="container-fluid" style="margin-top: 100px;">
	 	<div class="row">
	 		<div class="col-sm-3">
	 			<img src="{% static 'img/youth1.png' %}" >
	 		</div>
	 		<div class="col-sm-9">
	 			<center><h1>
	 				YOUTH
	 			</h1></center>
	 			<br>
	 			<p>
	 				Causes of teenage suicide can be difficult to pinpoint and may involve several factors. Teens go through a vulnerable period at this stage in their lives. No matter how small or big their problems, their troubles may feel unbearable or overwhelming. Noticeable changes in behavior, such as withdrawal from friends and family or violent and aggressive behavior, are among the many signs of potential teen suicide, but parents and mental health care providers also need to understand the causes of suicide in teens for effective prevention.
	 			</p>
	 			<div class="jumbotron">
	 				<h1>HOW TO TAKE CARE OF YOURSELF</h1>
	 				<div class="row">
	 					<div class="col-sm-6">
	 						<div class="card" style="border:5px solid;background-color: white;padding: 5px;margin-top: 20px;">
  <div class="card-body">
   <h5 class="card-title">What are the warning signs? </h5>
   
    <p class="card-text">Sometimes, when someone is having a hard time, they may consider harming themselves or taking their own life.
Suicidal behaviour indicates deep unhappiness, not necessarily a mental health issue.  </p>
    
  </div>
</div>
	 					</div>
	 					<div class="col-sm-6">
	 						<div class="card" style="border:5px solid;background-color: white;padding: 5px;margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">Don’t keep suicide a secret: </h5>
    
    <p class="card-text">If your friend is considering suicide, don’t promise to keep it a secret. Tell him or her you can help, but you need to involve other people, like a trusted adult. Neither of you have to face this alone.</p>
   
  </div>
</div>
	 					</div>
	 				</div>
	 				<div class="row">
	 					<div class="col-sm-6">
	 						<div class="card" style="border:5px solid;background-color: white;padding: 5px;margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">Things to look out for:</h5>
    
    <p class="card-text">Someone who is thinking about suicide will usually give some clues or signs to people around them, even though these might be subtle. Suicide prevention starts with recognising the warning signs and taking them seriously.</p>
    
  </div>
</div>
	 					</div>
	 					<div class="col-sm-6">
	 						<div class="card" style="border:5px solid;background-color: white;padding: 5px;margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">Warning signs might include:</h5>
    
    <p class="card-text">Aggressiveness and irritability – “Leave me alone”.
Possessing lethal means – medication, weapons.
Negative view of self – “I'm worthless”.
Drastic changes in mood and behaviour.
Frequently talking about death – “If I died would you miss me?”.
</p>
    
  </div>
</div>
	 					</div>
	 				</div>

	 			</div>

	 			<h1>RESOURCES</h1>
	 			<div class="jumbotron">
	 				<iframe max-width="320" height="245" src="https://www.youtube.com/embed/tBGvOmUhhq4">
</iframe>
<iframe max-width="320" max-height="245" src="https://www.youtube.com/embed/48H7FkH7EeQ" >
</iframe>
<iframe max-width="320" max-height="245" src="https://www.youtube.com/embed/YMz2_S2y9WE" >
</iframe>
	 			</div>
	 		</div>
	 	</div>
	 </div>
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="blog.html">Blog Posts</a></li>
							<li><a href="archives.html">Shortcodes</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2084 Company Name 
                    | Design: templatemo</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="js/min/plugins.min.js"></script>
	<script src="js/min/medigo-custom.min.js"></script>

</body>
</html>